# Use faster, Docker-based container (instead of OpenVZ)
sudo: false

language: java

jdk:
 - openjdk10
 - openjdk11
 - openjdk-ea

matrix:

  include:
  - jdk: openjdk12
    script:
      - ./gradlew build coverage -s -i
    after_success:
      - bash <(curl -s https://codecov.io/bash)
      - '[ "$TRAVIS_BRANCH" = "series/5.x" -a "$TRAVIS_PULL_REQUEST" = "false" -a -z "$TRAVIS_TAG" ]
        && ./gradlew uploadArchives'

  allow_failures:
  - jdk: openjdk10
  - jdk: openjdk-ea

script:
  - ./gradlew clean test


env:
  global:
    - secure: Bun+1FZ29Q3dR9gZ/5brxcSf+zcY5tWrsqOA4GUb5bYCMyORuXQB0FYXuhKR4wB1pFrk1a9EYwRwSu3GwRJVWb+UzF0CNOWF/QG5tGPx32IOXScwlL/KonI4Vhs7Oc0fF4Wdb7euNrT27BU61jbUugjJ642b3n0VBYFYDdquprU=
    - secure: QAxhjqLRa+WHKIzgIJPZ/rM5a5uzqG7E5rsC0YvB25cO712oYXmzsYPia/oSp0chXlYLYMfk2UnLeQCSx2e6ogXRRRa977Q+B33Nt0Hd9SGLtduv6DBrbA2ehLU12Ib4DWe5VhF5eueAunycYcllTvqA5h+pzTtEVbd68ZHncM4=
